<div class="w-full h-full flex flex-col gap-4">
    <h1 class="text-3xl md:text-4xl font-bold">Finishing up</h1>
    <p class="text-slate-600">Double-check everything looks OK before confirming.</p>
    <div class="bg-[#F8F9FF] p-4 md:p-8 rounded-xl grid grid-cols-1 gap-8">
        <div class="border-b border-9699AA py-2 flex justify-between items-center">
            <div>
                <h1 class="font-bold">{{ getActivePlan()?.name }} ({{ billingPeriod === 'monthly' ? 'Monthly' : 'Yearly' }})</h1>
                <p class="text-slate-500 underline hover:text-blue-600 cursor-pointer" (click)="changePlan()">Change</p>
            </div>
            <p>{{billingPeriod === 'monthly' ? '$' + getActivePlan()?.monthlyPrice + '/mo' : '$' + getActivePlan()?.yearlyPrice + '/yr' }}</p>
        </div>
        <div *ngFor="let addon of getActiveAddons()" class="w-full flex justify-between items-center">
            <p class="text-slate-600">{{ addon.name }}</p>
            <p class="text-slate-900">+${{ addon.price }}/mo</p>
        </div>
    </div>

    <div class="w-full flex justify-between items-center md:px-8 mt-4">
        <p class="text-slate-600">Total per {{ billingPeriod === 'monthly' ?  'Month' : 'Year' }}</p>
        <p class="text-blue-600 text-xl font-black">+${{ getTotal() }}/{{ billingPeriod === 'monthly' ?  'mo' : 'yr' }}</p>
    </div>
</div>
